# Environment files
.env
myvenv/
venv/

# SASS files
*.*map


#Vite files
counter.js
node_modules/
package-lock.json
package.json
public/
javascript.svg
style-guide.md


#macOS file
._*
.DS_Store
.fseventsd
.Spotlight-V100



# Windows files
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/