*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
div,
p,
ul,
li {
  margin: 0;
}

ul {
  padding: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.6rem;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 90vw;
  margin: auto;
}

.header {
  background-color: #222;
}

nav ul.nav-list {
  display: flex;
  list-style: none;
}
nav ul.nav-list li.nav-item a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 1rem 1rem;
  text-transform: uppercase;
}
nav ul.nav-list li.nav-item a:hover {
  background-color: #888;
  transition-duration: 500ms;
}

.slide-container {
  position: relative;
  margin: auto;
}

.slide {
  display: block;
  width: 100%;
}
.slide img {
  filter: brightness(50%);
}
.slide div,
.slide p {
  display: inline-block;
  position: absolute;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  bottom: 3rem;
  left: 2rem;
  background-color: rgba(50, 50, 50, 0.8);
  padding: 0.25rem;
}

section .section-title {
  text-align: center;
  font-size: clamp(2rem, 5vw, 3rem);
}
section .section-desc {
  text-align: center;
  font-style: italic;
  margin: 1.5rem;
  color: #888;
}

section.band {
  padding: 5vh 0 15vh;
}
section.band .band-members {
  width: 50vw;
  margin: auto;
}
section.band .band-members p {
  text-align: center;
  margin-top: 2rem;
}

section.tour {
  background-color: #222;
  padding: 10vh 0;
}
section.tour .section-title {
  color: white;
}
section.tour div.slots {
  background-color: #fff;
  padding: 0.8rem 1.5rem;
}
section.tour div.slots > p {
  display: inline-block;
}
section.tour div.slots .highlight {
  background-color: red;
  color: white;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
}

.slots + .slots {
  border-top: 1px solid #ccc;
}

.tour-location {
  background-color: white;
  margin: 2rem 0;
}
.tour-location img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  max-height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.tour-location > div {
  margin: 1rem;
}
.tour-location .tour-name {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.tour-location .tour-date {
  color: #777;
  margin-bottom: 0.5rem;
}
.tour-location .tour-desc {
  line-height: 1.2rem;
  margin-bottom: 1.2rem;
}
.tour-location .btn-buy-tickets {
  padding: 0.4rem 0.8rem;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1rem;
}

.mb-2rem {
  margin-bottom: 2rem;
}

section.contact {
  padding: 10vh 0;
}
section.contact i {
  display: inline-block;
}
section.contact p.contact-method {
  display: inline-block;
}
section.contact .contact-form input[type=text] {
  display: block;
  width: 100%;
  margin: 0.5rem 0 0 0;
  padding: 0.5rem;
  border: 1px solid #bbb;
}
section.contact .contact-form input[type=submit] {
  padding: 0.3rem 0.8rem;
  margin: 1rem 0 2rem;
  background-color: #000;
  color: #fff;
  float: right;
}

footer {
  text-align: center;
  margin-bottom: 5rem;
}

@media (min-width: 600px) {
  .row {
    display: flex;
  }
  section.band div.band-members {
    width: 100%;
    display: flex;
    gap: 2rem;
  }
  section.band div.band-members div {
    flex: 1;
    text-align: center;
  }
  .tour-location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .tour-location img {
    height: 30vw;
  }
  .tour-location + .tour-location {
    margin-left: 1rem;
  }
  section.contact .container {
    display: flex;
  }
  section.contact .container > * {
    flex: 1;
  }
  section.contact .container > form > div {
    display: flex;
    gap: 0.4rem;
  }
}/*# sourceMappingURL=style.css.map */